<%- include('../partials/header') %>
<%- include('../partials/navBar') %>
<%- include('../partials/flashMsg') %>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-9 col-md-6 mx-auto">
            <!-- Reset Password Form -->
            <div class="card my-3">
                <div class="card-header">
                    <h5>Change Password?</h5>
                </div>
                <form action="/change-password" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="card-body">
                        <div class="form-group">
                            <input name="oldPassword" type="password" class="form-control" placeholder="Old Password">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <input name="newPassword" type="password" class="form-control" placeholder="New Password">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <input name="confirmNewPassword" type="password" class="form-control" placeholder="Confirm New Password">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button disabled class="btn btn-primary btn-block">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
<script>
    var constraint = {
        oldPassword: {length: {minimum: 8}, presence: {allowEmpty: false}},
        newPassword: {length: {minimum: 8}, presence: {allowEmpty: false}},
        confirmNewPassword: {equality: "newPassword", presence: {allowEmpty: false}}
    }
    $('input').on('input', function() {
        // reset the error
        $(this).addClass('is-valid').removeClass('is-invalid');
        $(this).next().html('');

        var errors = validate($('form'), constraint);
        if (errors) {
            $('form button').attr('disabled', true);
        } else {
            $('form button').attr('disabled', false);
        }

        var name = $(this).attr('name');
        if (name in errors) {
            $(this).addClass('is-invalid').removeClass('is-valid');
            $(this).next().html(errors[name][0]);
        }
    });
</script>
<%- include('../partials/footer') %>