<%- include('../partials/header') %>
<%- include('../partials/navBar') %>
<%- include('../partials/flashMsg') %>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-9 col-md-6 mx-auto">
            <!-- Reset Password Form -->
            <div class="card my-3">
                <div class="card-header">
                    <h5>Forgot Password?</h5>
                </div>
                <form action="/forgot-password" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="card-body">
                        <p>If you forgot password, please type your email address below, we would send you the email for resetting password if your account exists.</p>
                        <div class="form-group">
                            <input required id="email" name="email" type="email" class="form-control" placeholder="e-mail">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>